<!DOCTYPE html>
<html>
    <head>
        <title>@ViewBag.Title</title>
        <meta charset="utf-8" />
        <script language="javascript" type="text/javascript">function refresh() {
        location.reload();
    }
    setInterval("refresh()", 1000);</script>
    </head>
    <body>
        @RenderBody()
    </body>
</html>
